.project-list {
  &__table {
    border-collapse: collapse;

    & td, th {
      border-collapse: collapse;
      width: 150px;
      padding: 5px 10px;

      &:first-child {
        width: 40px;
      }

      &:last-child {
        width: 300px;
      }
    }
  }
}
