.project-list {
  &__table {
    border-collapse: collapse;

    & td, th {
      border: 1px solid white;
      border-collapse: collapse;
      width: 150px;
      padding: 5px 10px;

      &:first-child {
        width: 40px;
      }

      &:last-child {
        width: 300px;
      }
    }

    & th {
      background-color: cadetblue;
    }

    & td {
      background-color: aliceblue;
    }
  }
}
