<h2>Add new employee</h2>
<div class="employee-form">
  <form [formGroup]="employeeForm" class="employee-form__form" (ngSubmit)="onSubmit(employeeForm.value)">
    <input type="text" placeholder="Name" formControlName="name" />
    <input type="number" placeholder="Age" formControlName="age" />
    <input type="number" placeholder="Salary" formControlName="salary" />
    <button
      type="submit"
      class="btn btn-outline-secondary btn-sm"
      [disabled]="employeeForm.invalid"
    >
      Submit
    </button>
  </form>
</div>
<p *ngIf="employeeForm.valid">
  Your new employee: {{ employeeForm.value.name }}, age: {{ employeeForm.value.age }}, with salary ${{ employeeForm.value.salary }} will be added to the system.
</p>
