<table class="employee-list__table" *ngIf="data$ | async as data; else empty">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Options</th>
  </tr>
  <tr *ngFor="let employee of data">
    <td>{{ employee.personalNumber }}</td>
    <td>{{ employee.name }}</td>
    <td>{{ employee.mail }}</td>
    <td>
      <button (click)="deleteEmployee(employee.personalNumber)">
        Delete
      </button>
    </td>
  </tr>
</table>

<ng-template #empty> There is no data </ng-template>
