.app {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 800px;
    height: auto;
    padding: 20px;
  }

  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: silver;
  }
}

.navbar {
  bottom: 0;
  width: 100vw;
  padding: 20px;
  background: none !important;
}

.container {
  min-height: 100vh;
}
