.app {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 800px;
    height: auto;
    padding: 20px;
  }
}
